<p><%= current_user.email unless current_user.nil? == true %>'s  Collection</p>

<p> games owned: <%= current_user.games.count %> </p>

 <% @collection.each do |a| %> 
 <%= a.game_name %>
 <%= a.platforms %>
 <%end%>



