@import 'mixins';
@import 'colors';

// VITAL CSS
.gridder {
    margin-left: 3px;
    padding: 0px;
    list-style-type: none;
}

#user_info {
    color: $color4;
    text-align: center;
}

#user_info p {
    font-size: 20px;
}

#collection_game_name {
    margin-top: 0px;
    padding-top: 0px;
}

#game_details {
    font-size: 20px;
}

#collection_container {
    background-color: $color1;
}
.container {
    width: 90%;

}
.gridder-list { 
    display: inline;
    vertical-align: top;
}

.gridder-list img {
    width: 32%;
    margin-bottom: 5px;
    margin-top: 5px;
}
.gridder-show { 
    font-size: 30px;
    color: $color2;
    display: block;
    float: left;
    width: 98.55%;
    position: relative;
    background: $color1 url('../images/loading-spin.svg') no-repeat center;
    
    &.loading{
        background: #EEE url('../images/loading-spin.svg') no-repeat center;
    }
}

.gridder-show img {
    float: left;
    margin-top: 7px;
    margin-bottom: 7px;
}

.gridder-show p {
    font-size: 15px;
}
.gridder-content{
    display: none;
}

.gridder-close {
    font-size: 15px;
    color: red;
    float: right;
}

.gridder-list{
    @include rowMachine(6,1%);
}

.game_wrapper {
    background-color: $color1;
}

/* */

.gridder-navigation{
    .gridder-nav{
        &.disabled{
            opacity: .5;
        }
    }
}


.gridder-list{
    cursor: pointer;
    &:hover{
        opacity: .8
    }
}

.hasSelectedItem{
    .gridder-list{
        opacity: .5;
        &.selectedItem{
            opacity: 1;
        }
    }
}

.big_img {
    float:left;
}

#star_box {
    margin-left: 10px;
}

#score_review_button_wrapper {
    text-align: center;
    font-size: 20px;
}

#stars-existing {
    font-size: 30px;
}

.gridder-close {
    font-size: 30px;
    margin-right: 5px;
}

.review_link {
    padding-top: 10px;
}